<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center" style="margin-bottom: 130px">Olá, Seja bem vindo! </h1>

    <div class="row">
        <div class="col-lg-6">
            <a href="/customers">
                <img src="/dist/img/008-reception.png" alt="Pedidos" height="250" width="250" class="img-responsive center-block"/>
            </a>
           <h2 class="text-center">Clientes</h2>
        </div>
        <div class="col-lg-6">
            <a href="/orders">
                <img src="/dist/img/007-telephone.png" alt="Clientes" height="250" width="250" class="img-responsive center-block"/>
            </a>
             <h2 class="text-center">Pedidos</h2>
        </div>
    </div>

</div>
</body>
</html>